.container
  {
    max-height: 50px;
  }
.pic
  {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 60px;
    height: 60px;
    border-radius: 7px;
    overflow: hidden;
  }
.username
  {
    padding-top: 100px;
    font-weight: bold;
  }
.username-small
  {
    padding-top: 100px;
    margin-left: 5px;
    font:12px arial, sans-serif;
    color: grey;
  }
.tweet-body
  {
    max-width: 80%;
    font:14px arial, sans-serif;
    word-break: break-word;
  }
.tweet-controls
  {
    font:16px arial, sans-serif;
    color: grey;
  }
.reply
  {
    margin-right: 50px;
  }
.retweet
  {
    margin-left: 4px;
    margin-right: 50px;
  }
.like-tweet
  {
    margin-left: 4px;
    margin-right: 50px;
  }
.others
  {
    margin-left: 4px;
    margin-right: 50px;
  }
.tweetpicture
  {
    max-width: 100%;
    height: auto;
    border-radius: 7px;
    margin-top: 15px;
    margin-bottom: 15px;
  }